* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.container_1 {
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 470px;
    /* background-color: aliceblue; */
}

.item_1{
    width: 300px;
    height: 300px;
    margin: 10px;
    /* background-color: aqua; */
}

.item_2 {
    width: 15px;
    height: 260px;
    margin: 10px;
    /* background-color: aqua; */
    margin-bottom: 18px;
}

.item_3 {
    width: 550px;
    height: 300px;
    margin: 10px;
    /* background-color: aqua; */
    
}

.title_up {
    font-family: 'IM FELL DW Pica';
    font-style: normal;
    font-size: 75px;
    align-items: center;
    color: #671414;
    -webkit-text-fill-color: #671414;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #280D0D;
    /* background-color:blanchedalmond; */
    margin-top: 25px;
} 

.title_down {
    font-family: 'IM FELL DW Pica';
    font-style: normal;
    font-size: 75px;
    align-items: center;
    color: #671414;
    -webkit-text-fill-color: #671414;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #280D0D;
    /* background-color:blanchedalmond; */
} 

.slogan {
    font-family: 'IM Fell DW Pica';
    font-style: normal;
    font-size: 40px;
    align-items: center;
    color: white;
    margin-bottom: 35px;
    /* background-color:blanchedalmond; */
}

.container_2{
    display: flex;
    background: #F5F0F0;
    justify-content: center;
    border-radius: 20px;
    margin-left: 500px;
    margin-right: 500px;
    height: 80px;
    align-items:center;
    margin-top: 60px;
    background-color: #e0bb95;
    cursor: pointer;
}
