<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cashier_ui/css/order_overview.css">
    <link href='https://fonts.googleapis.com/css?family=IM Fell Double Pica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IM Fell DW Pica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Order overview</title>
</head>
<body>
    <div class="flex-container">
        <div class="item_1"><img src="/static/casher_ui/images/logo.png" alt="Pizza logo" width="95"></div>
        <div class="item_2"><img src="/static/casher_ui/images/line.png" alt="Line" width="4" height="95"></div>
        <div class="item_3">
        <p class="title">LA PIZZERIA ITALIANA</p> 
        <p class="slogan">We promise you will come back.</p>
        </div>
    </div>
    <div class="flex-container_1">
        <p class="order_overview">ORDER OVERVIEW</p>
        <div class="flex_container_2">
            <div class="inner_container_1">
                <div class="order_number">Order number:</div>
                <div class="number">001</div>
            </div>
            <div class="inner_container_1">
                <div class="order_number">1 x Pizza Margherita</div>
            </div>
            <div class="inner_container_1">
                <div class="order_number">Total:</div>
                <div class="order_number">6.00 €</div>
            </div>
            <div class="button_box">
                <h1 class="button">CONFIRM ORDER</h1>
            </div>
        </div>
    </div>
</body>
</html>