<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="pizza.css">
    <link href="style_kitchen.css"  type="text/css"  rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IM Fell Double Pica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=IM Fell DW Pica' rel='stylesheet'>
    <title>Pizza Shop</title>
</head>
<body>
    <div class="main_container">
        <div class="container_1">
            <div class="item_1"><img src="images/logo.png" alt="Pizza logo" width="300"></div>
            <div class="item_2"><img src="images/line.png" alt="Line" width="13" height="240"></div>
            <div class="item_3">
                <p class="title_up">LA PIZZERIA</p> 
                <p class="title_down">ITALIANA</p>
                <p class="slogan">We promise you will come back.</p>
            </div>
        </div>
        <div class="container_2">
            <h1 class="title">TAKE ORDER</h1>
        </div>
    </div>
</div>
</body>
</html>